{% extends "base.html" %}
{%block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/write.css') }}">

{% endblock %}


{% block title %}Write an idea{% endblock %}
{% block content %}
<div class="box">
<form action="/write" method="post">
    <label for="name">Idea name:</label>
    <input type="text" id="name" name="name" placeholder="Idea title"><br><br>
    <label for="content">Idea content:</label>

    <textarea name="content" rows="3" cols="125" placeholder="Idea content here"> </textarea>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}